spring:
  application:
    name: servicio-rrhh
    
  datasource:
    url: jdbc:mysql://trolley.proxy.rlwy.net:22462/railway?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password: isiLtnLLawXdbFRBrmdCxiwJXSRapasl
    driver-class-name: com.mysql.cj.jdbc.Driver
    
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

  sql:
    init:
      mode: never                              # ⬅ Ejecuta data.sql siempre
      encoding: UTF-8                          # ⬅ Evita errores de caracteres

      
server:
  port: ${PORT:8082}
  servlet:
    context-path: /

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server.railway.internal:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: false
    hostname: servicio-usuario.railway.internal
    instance-id: ${spring.application.name}:${server.port}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always
